<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Not Found</title>
	<link rel="stylesheet" href="/main.css">
</head>
<body>
	<div style="display: flex; flex-direction: column; align-items: center; width: 100%">
		<h1>Business Search</h1>
		<form action="/company_info">
			<label for="company">Company</label>
			<input name="company" type="text" id="company">
			<button type="submit">Search</button>
		</form>

		<h2>Not found</h2>

		<img src="/flyer.png" alt="Flyer" style="max-width: 25rem; margin-top: 5rem">
	</div>
</body>
</html>