<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Business Ethics</title>
	<link rel="stylesheet" href="/main.css">
</head>
<body>
	<div style="display: flex; flex-direction: column; align-items: center; width: 100%">
		<h1>Business Search</h1>
		<form action="/company_info">
			<label for="company">Company</label>
			<input name="company" type="text" id="company">
			<button type="submit">Search</button>
		</form>

		<!--

[1] https://themoderatevoice.com/walmart-has-ruthlessly-exploited-its-workers-for-years/
[2] https://lawaspect.com/walmart-unethical-behavior/
[3] https://www.central-cambodia.org/archives/1076"	"[1] 
Supression of labor unions
Pollution
[2] 
Sexual discrimination
Unfair pay
Destruction of small towns
Excessive corp power thru govt
Monopolization

		-->

		<div>
			<a href=""></a>
		</div>

		<img src="/flyer.png" alt="Flyer" style="max-width: 25rem; margin-top: 5rem">
	</div>
</body>
</html>